# Saving for Retirement
- Let's assume we want to save $10,000 every year
- Our initial balance is zero
- How much would our account grow over 30 years if we earn a rate of 5%?

In [1]:
import numpy as np
import pandas as pd
import numpy_financial as npf

In [2]:
RATE     = 0.05
N_SAVING = 30
PMT      = 10000.0
PV       = 0.0

acct = pd.DataFrame(dtype=float,columns=['begbal','capgain','deposit','endbal'],index=np.arange(1,N_SAVING+1))
acct.deposit = PMT
for t in acct.index:
    if t==1:
        acct.loc[t,'begbal'] = PV
    else:
        acct.loc[t,'begbal'] = acct.loc[t-1,'endbal']
    acct.loc[t,'capgain'] = acct.loc[t,'begbal']*RATE
    acct.loc[t,'endbal'] = acct.loc[t,'begbal'] + acct.loc[t,'capgain'] + acct.loc[t,'deposit']

pd.options.display.float_format = '${:,.2f}'.format
acct

        begbal    capgain    deposit      endbal
1        $0.00      $0.00 $10,000.00  $10,000.00
2   $10,000.00    $500.00 $10,000.00  $20,500.00
3   $20,500.00  $1,025.00 $10,000.00  $31,525.00
4   $31,525.00  $1,576.25 $10,000.00  $43,101.25
5   $43,101.25  $2,155.06 $10,000.00  $55,256.31
6   $55,256.31  $2,762.82 $10,000.00  $68,019.13
7   $68,019.13  $3,400.96 $10,000.00  $81,420.08
8   $81,420.08  $4,071.00 $10,000.00  $95,491.09
9   $95,491.09  $4,774.55 $10,000.00 $110,265.64
10 $110,265.64  $5,513.28 $10,000.00 $125,778.93
11 $125,778.93  $6,288.95 $10,000.00 $142,067.87
12 $142,067.87  $7,103.39 $10,000.00 $159,171.27
13 $159,171.27  $7,958.56 $10,000.00 $177,129.83
14 $177,129.83  $8,856.49 $10,000.00 $195,986.32
15 $195,986.32  $9,799.32 $10,000.00 $215,785.64
16 $215,785.64 $10,789.28 $10,000.00 $236,574.92
17 $236,574.92 $11,828.75 $10,000.00 $258,403.66
18 $258,403.66 $12,920.18 $10,000.00 $281,323.85
19 $281,323.85 $14,066.19 $10,000.00 $305,390.04
20 $305,390.04 $15,269.50 $10,000.00 $330,659.54
21 $330,659.54 $16,532.98 $10,000.00 $357,192.52
22 $357,192.52 $17,859.63 $10,000.00 $385,052.14
23 $385,052.14 $19,252.61 $10,000.00 $414,304.75
24 $414,304.75 $20,715.24 $10,000.00 $445,019.99
25 $445,019.99 $22,251.00 $10,000.00 $477,270.99
26 $477,270.99 $23,863.55 $10,000.00 $511,134.54
27 $511,134.54 $25,556.73 $10,000.00 $546,691.26
28 $546,691.26 $27,334.56 $10,000.00 $584,025.83
29 $584,025.83 $29,201.29 $10,000.00 $623,227.12
30 $623,227.12 $31,161.36 $10,000.00 $664,388.48

In [3]:
# Of course, we could do this in one step using a financial function
npf.fv(RATE, N_SAVING, -PMT, -PV)

664388.4750301335

In [4]:
# If we wanted to be able to withdraw $W=100,000 each year for 20 years, 
# how much do we need to save for the first 30 years

WITHDRAWAL = 100000.0
N_WITHDRAW = 20

In [5]:
# First, we find how much we'd need to have saved as of t=30:

end_savings_bal = npf.pv(RATE,N_WITHDRAW,-WITHDRAWAL,0)
print(f'{end_savings_bal:,.2f}')

1,246,221.03

In [6]:
# Second, we solve a PMT problem to determine the amount we need to save:

pmt = npf.pmt(RATE,N_SAVING,PV,-end_savings_bal)
print(f'{pmt:,.2f}')

18,757.41

In [7]:
#Let's set up a bank account to make sure we are getting a zero ending balance

acct = pd.DataFrame(dtype=float,columns=['begbal','capgain','deposit','withdraw','endbal'],index=np.arange(1,N_SAVING + N_WITHDRAW + 1))
acct.deposit = np.where(acct.index <= N_SAVING, PMT,0)
acct.withdraw= np.where(acct.index > N_SAVING, -WITHDRAWAL,0)
for t in acct.index:
    if t==1:
        acct.loc[t,'begbal'] = PV
    else:
        acct.loc[t,'begbal'] = acct.loc[t-1,'endbal']
    acct.loc[t,'capgain'] = acct.loc[t,'begbal']*RATE
    acct.loc[t,'endbal']  = acct.loc[t,'begbal'] + acct.loc[t,'capgain'] + acct.loc[t,'deposit'] + acct.loc[t,'withdraw']
acct

           begbal     capgain    deposit     withdraw         endbal
1           $0.00       $0.00 $10,000.00        $0.00     $10,000.00
2      $10,000.00     $500.00 $10,000.00        $0.00     $20,500.00
3      $20,500.00   $1,025.00 $10,000.00        $0.00     $31,525.00
4      $31,525.00   $1,576.25 $10,000.00        $0.00     $43,101.25
5      $43,101.25   $2,155.06 $10,000.00        $0.00     $55,256.31
6      $55,256.31   $2,762.82 $10,000.00        $0.00     $68,019.13
7      $68,019.13   $3,400.96 $10,000.00        $0.00     $81,420.08
8      $81,420.08   $4,071.00 $10,000.00        $0.00     $95,491.09
9      $95,491.09   $4,774.55 $10,000.00        $0.00    $110,265.64
10    $110,265.64   $5,513.28 $10,000.00        $0.00    $125,778.93
11    $125,778.93   $6,288.95 $10,000.00        $0.00    $142,067.87
12    $142,067.87   $7,103.39 $10,000.00        $0.00    $159,171.27
13    $159,171.27   $7,958.56 $10,000.00        $0.00    $177,129.83
14    $177,129.83   $8,856.49 $10,000.00        $0.00    $195,986.32
15    $195,986.32   $9,799.32 $10,000.00        $0.00    $215,785.64
16    $215,785.64  $10,789.28 $10,000.00        $0.00    $236,574.92
17    $236,574.92  $11,828.75 $10,000.00        $0.00    $258,403.66
18    $258,403.66  $12,920.18 $10,000.00        $0.00    $281,323.85
19    $281,323.85  $14,066.19 $10,000.00        $0.00    $305,390.04
20    $305,390.04  $15,269.50 $10,000.00        $0.00    $330,659.54
21    $330,659.54  $16,532.98 $10,000.00        $0.00    $357,192.52
22    $357,192.52  $17,859.63 $10,000.00        $0.00    $385,052.14
23    $385,052.14  $19,252.61 $10,000.00        $0.00    $414,304.75
24    $414,304.75  $20,715.24 $10,000.00        $0.00    $445,019.99
25    $445,019.99  $22,251.00 $10,000.00        $0.00    $477,270.99
26    $477,270.99  $23,863.55 $10,000.00        $0.00    $511,134.54
27    $511,134.54  $25,556.73 $10,000.00        $0.00    $546,691.26
28    $546,691.26  $27,334.56 $10,000.00        $0.00    $584,025.83
29    $584,025.83  $29,201.29 $10,000.00        $0.00    $623,227.12
30    $623,227.12  $31,161.36 $10,000.00        $0.00    $664,388.48
31    $664,388.48  $33,219.42      $0.00 $-100,000.00    $597,607.90
32    $597,607.90  $29,880.39      $0.00 $-100,000.00    $527,488.29
33    $527,488.29  $26,374.41      $0.00 $-100,000.00    $453,862.71
34    $453,862.71  $22,693.14      $0.00 $-100,000.00    $376,555.84
35    $376,555.84  $18,827.79      $0.00 $-100,000.00    $295,383.64
36    $295,383.64  $14,769.18      $0.00 $-100,000.00    $210,152.82
37    $210,152.82  $10,507.64      $0.00 $-100,000.00    $120,660.46
38    $120,660.46   $6,033.02      $0.00 $-100,000.00     $26,693.48
39     $26,693.48   $1,334.67      $0.00 $-100,000.00    $-71,971.84
40    $-71,971.84  $-3,598.59      $0.00 $-100,000.00   $-175,570.44
41   $-175,570.44  $-8,778.52      $0.00 $-100,000.00   $-284,348.96
42   $-284,348.96 $-14,217.45      $0.00 $-100,000.00   $-398,566.41
43   $-398,566.41 $-19,928.32      $0.00 $-100,000.00   $-518,494.73
44   $-518,494.73 $-25,924.74      $0.00 $-100,000.00   $-644,419.46
45   $-644,419.46 $-32,220.97      $0.00 $-100,000.00   $-776,640.44
46   $-776,640.44 $-38,832.02      $0.00 $-100,000.00   $-915,472.46
47   $-915,472.46 $-45,773.62      $0.00 $-100,000.00 $-1,061,246.08
48 $-1,061,246.08 $-53,062.30      $0.00 $-100,000.00 $-1,214,308.38
49 $-1,214,308.38 $-60,715.42      $0.00 $-100,000.00 $-1,375,023.80
50 $-1,375,023.80 $-68,751.19      $0.00 $-100,000.00 $-1,543,774.99

## Saving for retirement with inflation
- Now let's assume that we want to consume a constant **real** amount in retirement
  - our standard of living will be unchanged each year
- We can either finance retirement in nominal terms or in real terms

We need a few relationships to work on this.  We'll assume a constant inflation rate and that the base year is time 0.

- First, what is the relationship between real and nominal cash flows at a point in time $t$?
$$ \text{Nominal CF}_t = \text{Real CF}_t \cdot (1+\text{inflation})^t. $$

- Second, what is the relationship between real and nominal rates of return?
$$ 1+ \text{nominal rate} = (1+\text{real rate})(1+\text{inflation}).$$

In [8]:
# We'll set up 2 bank accounts (1 in nominal terms and 1 in real terms)
NOMINAL    = 0.05
INFLATION  = 0.02
N_SAVING   = 30
N_WITHDRAW = 20
PV  = 0.0
WITHDRAWAL = 100000

column_index = pd.MultiIndex.from_product([['Nominal','Real'],['begbal','capgain','dep/with','endbal']])
idx = np.arange(1,N_SAVING + N_WITHDRAW + 1)

acct = pd.DataFrame(dtype=float,columns=column_index,index=idx)
acct

   Nominal                           Real
    begbal capgain dep/with endbal begbal capgain dep/with endbal
1      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
2      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
3      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
4      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
5      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
6      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
7      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
8      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
9      NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
10     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
11     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
12     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
13     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
14     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
15     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
16     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
17     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
18     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
19     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
20     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
21     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
22     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
23     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
24     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
25     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
26     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
27     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
28     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
29     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
30     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
31     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
32     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
33     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
34     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
35     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
36     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
37     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
38     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
39     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
40     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
41     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
42     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
43     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
44     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
45     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
46     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
47     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
48     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
49     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN
50     NaN     NaN      NaN    NaN    NaN     NaN      NaN    NaN

In [9]:
# Let's start by saving a constant real amount each year.
# This means that we can solve the problem entirely in real terms.
real = (1+NOMINAL)/(1+INFLATION)-1
print(f'{real:,.2%}')

2.94%

In [10]:
# First, we find how much we'd need to have saved as of t=N_SAVING:
end_savings_bal = npf.pv(real,N_WITHDRAW,-WITHDRAWAL,0)
print(f'{end_savings_bal:,.2f}')

1,495,870.98

In [11]:
# Second, we solve a PMT problem to determine the amount we need to save:

pmt = npf.pmt(real,N_SAVING,PV,-end_savings_bal)
print(f'{pmt:,.2f}')

31,742.87

In [12]:
# Fill out the real side of the balance sheet
acct[('Real','dep/with')] = np.where(acct.index <= N_SAVING, pmt,-WITHDRAWAL)
for t in acct.index:
    if t==1:
        acct.loc[t,('Real','begbal')] = PV
    else:
        acct.loc[t,('Real','begbal')] = acct.loc[t-1,('Real','endbal')]
    acct.loc[t,('Real','capgain')] = acct.loc[t,('Real','begbal')]*real
    acct.loc[t,('Real','endbal')]  = acct.loc[t,('Real','begbal')] + acct.loc[t,('Real','capgain')] + acct.loc[t,('Real','dep/with')] 
acct

   Nominal                                  Real                          \
    begbal capgain dep/with endbal        begbal    capgain     dep/with
1      NaN     NaN      NaN    NaN         $0.00      $0.00   $31,742.87
2      NaN     NaN      NaN    NaN    $31,742.87    $933.61   $31,742.87
3      NaN     NaN      NaN    NaN    $64,419.35  $1,894.69   $31,742.87
4      NaN     NaN      NaN    NaN    $98,056.91  $2,884.03   $31,742.87
5      NaN     NaN      NaN    NaN   $132,683.80  $3,902.46   $31,742.87
6      NaN     NaN      NaN    NaN   $168,329.14  $4,950.86   $31,742.87
7      NaN     NaN      NaN    NaN   $205,022.86  $6,030.08   $31,742.87
8      NaN     NaN      NaN    NaN   $242,795.81  $7,141.05   $31,742.87
9      NaN     NaN      NaN    NaN   $281,679.74  $8,284.70   $31,742.87
10     NaN     NaN      NaN    NaN   $321,707.30  $9,461.98   $31,742.87
11     NaN     NaN      NaN    NaN   $362,912.15 $10,673.89   $31,742.87
12     NaN     NaN      NaN    NaN   $405,328.91 $11,921.44   $31,742.87
13     NaN     NaN      NaN    NaN   $448,993.21 $13,205.68   $31,742.87
14     NaN     NaN      NaN    NaN   $493,941.76 $14,527.70   $31,742.87
15     NaN     NaN      NaN    NaN   $540,212.33 $15,888.60   $31,742.87
16     NaN     NaN      NaN    NaN   $587,843.80 $17,289.52   $31,742.87
17     NaN     NaN      NaN    NaN   $636,876.19 $18,731.65   $31,742.87
18     NaN     NaN      NaN    NaN   $687,350.71 $20,216.20   $31,742.87
19     NaN     NaN      NaN    NaN   $739,309.78 $21,744.41   $31,742.87
20     NaN     NaN      NaN    NaN   $792,797.05 $23,317.56   $31,742.87
21     NaN     NaN      NaN    NaN   $847,857.48 $24,936.98   $31,742.87
22     NaN     NaN      NaN    NaN   $904,537.34 $26,604.04   $31,742.87
23     NaN     NaN      NaN    NaN   $962,884.24 $28,320.12   $31,742.87
24     NaN     NaN      NaN    NaN $1,022,947.24 $30,086.68   $31,742.87
25     NaN     NaN      NaN    NaN $1,084,776.79 $31,905.20   $31,742.87
26     NaN     NaN      NaN    NaN $1,148,424.86 $33,777.20   $31,742.87
27     NaN     NaN      NaN    NaN $1,213,944.93 $35,704.26   $31,742.87
28     NaN     NaN      NaN    NaN $1,281,392.06 $37,688.00   $31,742.87
29     NaN     NaN      NaN    NaN $1,350,822.93 $39,730.09   $31,742.87
30     NaN     NaN      NaN    NaN $1,422,295.88 $41,832.23   $31,742.87
31     NaN     NaN      NaN    NaN $1,495,870.98 $43,996.21 $-100,000.00
32     NaN     NaN      NaN    NaN $1,439,867.19 $42,349.04 $-100,000.00
33     NaN     NaN      NaN    NaN $1,382,216.23 $40,653.42 $-100,000.00
34     NaN     NaN      NaN    NaN $1,322,869.64 $38,907.93 $-100,000.00
35     NaN     NaN      NaN    NaN $1,261,777.57 $37,111.11 $-100,000.00
36     NaN     NaN      NaN    NaN $1,198,888.68 $35,261.43 $-100,000.00
37     NaN     NaN      NaN    NaN $1,134,150.11 $33,357.36 $-100,000.00
38     NaN     NaN      NaN    NaN $1,067,507.47 $31,397.28 $-100,000.00
39     NaN     NaN      NaN    NaN   $998,904.75 $29,379.55 $-100,000.00
40     NaN     NaN      NaN    NaN   $928,284.30 $27,302.48 $-100,000.00
41     NaN     NaN      NaN    NaN   $855,586.78 $25,164.32 $-100,000.00
42     NaN     NaN      NaN    NaN   $780,751.09 $22,963.27 $-100,000.00
43     NaN     NaN      NaN    NaN   $703,714.36 $20,697.48 $-100,000.00
44     NaN     NaN      NaN    NaN   $624,411.84 $18,365.05 $-100,000.00
45     NaN     NaN      NaN    NaN   $542,776.90 $15,964.03 $-100,000.00
46     NaN     NaN      NaN    NaN   $458,740.92 $13,492.38 $-100,000.00
47     NaN     NaN      NaN    NaN   $372,233.30 $10,948.04 $-100,000.00
48     NaN     NaN      NaN    NaN   $283,181.34  $8,328.86 $-100,000.00
49     NaN     NaN      NaN    NaN   $191,510.20  $5,632.65 $-100,000.00
50     NaN     NaN      NaN    NaN    $97,142.86  $2,857.14 $-100,000.00


          endbal
1     $31,742.87
2     $64,419.35
3     $98,056.91
4    $132,683.80
5    $168,329.14
6    $205,022.86
7    $242,795.81
8    $281,679.74
9    $321,707.30
10   $362,912.15
11   $405,328.91
12   $448,993.21
13   $493,941.76
14   $540,212.33
15   $587,843.80
16   $636,876.19
17   $687,350.71
18   $739,309.78
19   $792,797.05
20   $847,857.48
21   $904,537.34
22   $962,884.24
23 $1,022,947.24
24 $1,084,776.79
25 $1,148,424.86
26 $1,213,944.93
27 $1,281,392.06
28 $1,350,822.93
29 $1,422,295.88
30 $1,495,870.98
31 $1,439,867.19
32 $1,382,216.23
33 $1,322,869.64
34 $1,261,777.57
35 $1,198,888.68
36 $1,134,150.11
37 $1,067,507.47
38   $998,904.75
39   $928,284.30
40   $855,586.78
41   $780,751.09
42   $703,714.36
43   $624,411.84
44   $542,776.90
45   $458,740.92
46   $372,233.30
47   $283,181.34
48   $191,510.20
49    $97,142.86
50         $0.00

In [13]:
# Fill our the nominal side of the balance sheet
acct[('Nominal','dep/with')] = acct[('Real','dep/with')] *(1+INFLATION)**acct.index
for t in acct.index:
    if t==1:
        acct.loc[t,('Nominal','begbal')] = PV
    else:
        acct.loc[t,('Nominal','begbal')] = acct.loc[t-1,('Nominal','endbal')]
    acct.loc[t,('Nominal','capgain')] = acct.loc[t,('Nominal','begbal')]*NOMINAL
    acct.loc[t,('Nominal','endbal')]  = acct.loc[t,('Nominal','begbal')] + acct.loc[t,('Nominal','capgain')] + acct.loc[t,('Nominal','dep/with')] 
acct

         Nominal                                                 Real  \
          begbal     capgain     dep/with        endbal        begbal
1          $0.00       $0.00   $32,377.73    $32,377.73         $0.00
2     $32,377.73   $1,618.89   $33,025.28    $67,021.89    $31,742.87
3     $67,021.89   $3,351.09   $33,685.79   $104,058.77    $64,419.35
4    $104,058.77   $5,202.94   $34,359.50   $143,621.21    $98,056.91
5    $143,621.21   $7,181.06   $35,046.69   $185,848.97   $132,683.80
6    $185,848.97   $9,292.45   $35,747.63   $230,889.04   $168,329.14
7    $230,889.04  $11,544.45   $36,462.58   $278,896.07   $205,022.86
8    $278,896.07  $13,944.80   $37,191.83   $330,032.71   $242,795.81
9    $330,032.71  $16,501.64   $37,935.67   $384,470.01   $281,679.74
10   $384,470.01  $19,223.50   $38,694.38   $442,387.89   $321,707.30
11   $442,387.89  $22,119.39   $39,468.27   $503,975.55   $362,912.15
12   $503,975.55  $25,198.78   $40,257.63   $569,431.96   $405,328.91
13   $569,431.96  $28,471.60   $41,062.79   $638,966.34   $448,993.21
14   $638,966.34  $31,948.32   $41,884.04   $712,798.70   $493,941.76
15   $712,798.70  $35,639.94   $42,721.72   $791,160.36   $540,212.33
16   $791,160.36  $39,558.02   $43,576.16   $874,294.53   $587,843.80
17   $874,294.53  $43,714.73   $44,447.68   $962,456.94   $636,876.19
18   $962,456.94  $48,122.85   $45,336.63 $1,055,916.42   $687,350.71
19 $1,055,916.42  $52,795.82   $46,243.37 $1,154,955.60   $739,309.78
20 $1,154,955.60  $57,747.78   $47,168.23 $1,259,871.62   $792,797.05
21 $1,259,871.62  $62,993.58   $48,111.60 $1,370,976.80   $847,857.48
22 $1,370,976.80  $68,548.84   $49,073.83 $1,488,599.47   $904,537.34
23 $1,488,599.47  $74,429.97   $50,055.31 $1,613,084.75   $962,884.24
24 $1,613,084.75  $80,654.24   $51,056.41 $1,744,795.39 $1,022,947.24
25 $1,744,795.39  $87,239.77   $52,077.54 $1,884,112.71 $1,084,776.79
26 $1,884,112.71  $94,205.64   $53,119.09 $2,031,437.43 $1,148,424.86
27 $2,031,437.43 $101,571.87   $54,181.47 $2,187,190.78 $1,213,944.93
28 $2,187,190.78 $109,359.54   $55,265.10 $2,351,815.42 $1,281,392.06
29 $2,351,815.42 $117,590.77   $56,370.40 $2,525,776.59 $1,350,822.93
30 $2,525,776.59 $126,288.83   $57,497.81 $2,709,563.24 $1,422,295.88
31 $2,709,563.24 $135,478.16 $-184,758.88 $2,660,282.52 $1,495,870.98
32 $2,660,282.52 $133,014.13 $-188,454.06 $2,604,842.58 $1,439,867.19
33 $2,604,842.58 $130,242.13 $-192,223.14 $2,542,861.57 $1,382,216.23
34 $2,542,861.57 $127,143.08 $-196,067.60 $2,473,937.05 $1,322,869.64
35 $2,473,937.05 $123,696.85 $-199,988.96 $2,397,644.94 $1,261,777.57
36 $2,397,644.94 $119,882.25 $-203,988.73 $2,313,538.46 $1,198,888.68
37 $2,313,538.46 $115,676.92 $-208,068.51 $2,221,146.87 $1,134,150.11
38 $2,221,146.87 $111,057.34 $-212,229.88 $2,119,974.34 $1,067,507.47
39 $2,119,974.34 $105,998.72 $-216,474.48 $2,009,498.58   $998,904.75
40 $2,009,498.58 $100,474.93 $-220,803.97 $1,889,169.54   $928,284.30
41 $1,889,169.54  $94,458.48 $-225,220.05 $1,758,407.97   $855,586.78
42 $1,758,407.97  $87,920.40 $-229,724.45 $1,616,603.92   $780,751.09
43 $1,616,603.92  $80,830.20 $-234,318.94 $1,463,115.18   $703,714.36
44 $1,463,115.18  $73,155.76 $-239,005.31 $1,297,265.63   $624,411.84
45 $1,297,265.63  $64,863.28 $-243,785.42 $1,118,343.49   $542,776.90
46 $1,118,343.49  $55,917.17 $-248,661.13   $925,599.53   $458,740.92
47   $925,599.53  $46,279.98 $-253,634.35   $718,245.16   $372,233.30
48   $718,245.16  $35,912.26 $-258,707.04   $495,450.38   $283,181.34
49   $495,450.38  $24,772.52 $-263,881.18   $256,341.72   $191,510.20
50   $256,341.72  $12,817.09 $-269,158.80        $-0.00    $97,142.86


      capgain     dep/with        endbal
1       $0.00   $31,742.87    $31,742.87
2     $933.61   $31,742.87    $64,419.35
3   $1,894.69   $31,742.87    $98,056.91
4   $2,884.03   $31,742.87   $132,683.80
5   $3,902.46   $31,742.87   $168,329.14
6   $4,950.86   $31,742.87   $205,022.86
7   $6,030.08   $31,742.87   $242,795.81
8   $7,141.05   $31,742.87   $281,679.74
9   $8,284.70   $31,742.87   $321,707.30
10  $9,461.98   $31,742.87   $362,912.15
11 $10,673.89   $31,742.87   $405,328.91
12 $11,921.44   $31,742.87   $448,993.21
13 $13,205.68   $31,742.87   $493,941.76
14 $14,527.70   $31,742.87   $540,212.33
15 $15,888.60   $31,742.87   $587,843.80
16 $17,289.52   $31,742.87   $636,876.19
17 $18,731.65   $31,742.87   $687,350.71
18 $20,216.20   $31,742.87   $739,309.78
19 $21,744.41   $31,742.87   $792,797.05
20 $23,317.56   $31,742.87   $847,857.48
21 $24,936.98   $31,742.87   $904,537.34
22 $26,604.04   $31,742.87   $962,884.24
23 $28,320.12   $31,742.87 $1,022,947.24
24 $30,086.68   $31,742.87 $1,084,776.79
25 $31,905.20   $31,742.87 $1,148,424.86
26 $33,777.20   $31,742.87 $1,213,944.93
27 $35,704.26   $31,742.87 $1,281,392.06
28 $37,688.00   $31,742.87 $1,350,822.93
29 $39,730.09   $31,742.87 $1,422,295.88
30 $41,832.23   $31,742.87 $1,495,870.98
31 $43,996.21 $-100,000.00 $1,439,867.19
32 $42,349.04 $-100,000.00 $1,382,216.23
33 $40,653.42 $-100,000.00 $1,322,869.64
34 $38,907.93 $-100,000.00 $1,261,777.57
35 $37,111.11 $-100,000.00 $1,198,888.68
36 $35,261.43 $-100,000.00 $1,134,150.11
37 $33,357.36 $-100,000.00 $1,067,507.47
38 $31,397.28 $-100,000.00   $998,904.75
39 $29,379.55 $-100,000.00   $928,284.30
40 $27,302.48 $-100,000.00   $855,586.78
41 $25,164.32 $-100,000.00   $780,751.09
42 $22,963.27 $-100,000.00   $703,714.36
43 $20,697.48 $-100,000.00   $624,411.84
44 $18,365.05 $-100,000.00   $542,776.90
45 $15,964.03 $-100,000.00   $458,740.92
46 $13,492.38 $-100,000.00   $372,233.30
47 $10,948.04 $-100,000.00   $283,181.34
48  $8,328.86 $-100,000.00   $191,510.20
49  $5,632.65 $-100,000.00    $97,142.86
50  $2,857.14 $-100,000.00         $0.00

### Excercise: what if we had wanted to save in constant nominal terms?